.section.person {

  .category-icon {
    font-family:Tonicons;
    background-color:@ocean;
  }

  .info {
    padding-top:5px;
    color:darken(@ocean, 10%);

    button.change {
      position:absolute;
      bottom:11px;
      right:36px;
      border:none;
    }

  }

}
